:root {
  /* Primary */
  --color-primary-50: #eaf3ff;
  --color-primary-100: #cfe3ff;
  --color-primary-500: #3692ff;
  --color-primary-700: #1f6fe0;

  /* Gray */
  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-500: #6b7280;
  --color-gray-900: #111827;

  /* Semantic */
  --color-success: #22c55e;
  --color-error: #ef4444;
}

.body {
  background-color: #fcfcfc;
  height: 100%;
  margin: 0;
}

.wrap {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 회원가입 페이지만의 특별 스타일 */
.signup-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 위에서부터 시작 */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.login-logo {
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
  width: fit-content;
  margin-bottom: 40px;
}

.panda {
  width: 103px;
  height: auto;
}

.pandaLogo {
  color: var(--color-primary-500); /*팔레트 활용*/
  font-family: "ROKAF Sans";
  font-size: 66.344px;
  font-weight: 800;
}

.input-group {
  display: flex;
  flex-direction: column;

  gap: 16px;
  margin-bottom: 24px;
  width: 640px;
}

.input-group label {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
}

.input-group input {
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  border-radius: 12px;

  border: none;
  background: var(--Cool-Gray-100, #f3f4f6);
  outline: none;

  color: var(--Secondary-400, #9ca3af);
  font-weight: 400;
  font-size: 16px;
  font-family: Pretendard;
}
.input-group input:focus {
  border: 1px solid #3692ff;
}
.login-button-group {
  display: flex;
  justify-content: center;

  border-radius: 40px;
  background: var(--Secondary-400, #9ca3af);
  color: var(--Cool-Gray-100, #f3f4f6);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  padding: 16px, 124px;
  height: 56px;
}

.login-btn {
  color: var(--Cool-Gray-100, #f3f4f6);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
}

.auth-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  border-radius: 8px;
  background: #e6f2ff;
  margin: 24px 0;
  height: 74px;
}

.auth-wrap h3 {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
}
.auth-btn {
  display: flex;
  gap: 16px;
}
/* 회원가입 안내 */
.login-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.login-bottom h4 {
  color: var(--Secondary-800, #1f2937);

  font-family: Pretendard;
  font-size: 14px;

  font-weight: 500;
}
.login-bottom a {
  color: var(--Primary-100, #3692ff);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  text-underline-offset: 4px; /*밑줄이랑 글자 사이 간격!*/
}
