.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 8.75rem;
}

@media (max-width: 1199px) {
  .section {
    margin-bottom: 10.31rem;
  }
}

@media (max-width: 743px) {
  .section {
    margin-bottom: 8.44rem;
  }
}
