.etc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;

  font-size: 16px;
  font-weight: 400;

  background-color: #111827;
}

.etcLink {
  display: flex;
  gap: 30px;
}

.etcSns {
  display: flex;
  gap: 12px;
}

.codeit {
  color: #9ca3af;
}

.etcText {
  color: #e5e7eb;
}

.snsIc {
  width: 20px;
}
