body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-size: 1rem;
  background-color: #fcfcfc;
}

input:focus {
  outline: 1px solid var(--Primary-100);
}

.login_box {
  padding: 14.4375rem 40rem 17.75rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo a {
  display: inline-block;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  height: 132px;
  width: 396px;
  margin: 0 auto;
}

.member_login {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.member_login_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.member_login_box > label {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 144.444%;
}

.member_login_box > button {
  position: absolute;
}

#email,
#pw {
  border-radius: 12px;
  border: none;
  background: var(--Cool-Gray-100);
  width: 640px;
  height: 56px;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  color: var(--Secondary-400);
  font-weight: 400;
  line-height: 162.5%;
}

#pw_input {
  display: flex;
  position: relative;
}

#pw_input > button {
  position: absolute;
  background-image: url(img/btn_visibility_on_24px.png);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin: 0 auto;
  border: none;
  right: 24px;
  top: 16px;
}

#pw_input .pw_img:active {
  background-image: url(img/btn_visibility_24px.png);
}

.login_btn {
  color: var(--Cool-Gray-100);
  line-height: 160%;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  background-color: var(--Secondary-400);
  border-radius: 40px;
  height: 56px;
}

.member_login > .easy_login {
  display: flex;
  width: 640px;
  height: 74px;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  background: #e6f2ff;
  align-items: center;
  justify-content: space-between;
}

.easy_login > li {
  color: var(--Secondary-800);
}

.easy_login > ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon a {
  display: inline-block;
  width: 42px;
  height: 42px;
}

.google {
  background-image: url(img/Component\ 2@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.kakaocorp {
  background-image: url(img/Component\ 3@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.find_wrap {
  color: var(--Secondary-800);
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.find_wrap a {
  color: var(--Primary-100);
  border-bottom: 1px solid var(--Primary-100);
}
