body {
  font-family: "Pretendard", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22.24px;
  margin: 40px;

  color: var(--brand-blue, #3692ff);
  font-size: 66.344px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: none;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
label {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/2lg-18px-bold */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}
input {
  flex: 1 0 0;
  color: var(--Secondary-400, #9ca3af);

  /* pretendard/lg-16px-regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  border-radius: 12px;
  border: none;
  background: var(--Cool-Gray-100, #f3f4f6);

  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;

  transition: 0.3s;

  color: var(--Cool-Gray-800, #1f2937);

  /* text-base/font-normal */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  border: 1px solid transparent;
  box-sizing: border-box;
}
input:focus {
  border-radius: 12px;
  border: 1px solid var(--brand-blue, #3692ff);
  background: var(--Cool-Gray-50, #f3f4f6);

  outline: none;
}

button {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 40px;
  background: var(--Secondary-400, #9ca3af);

  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;

  /* pretendard/xl-20px-semibold */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */

  border-color: transparent;
  outline: none;
}

/* button {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 40px;
  background: var(--Primary-100, #3692ff);

  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;

  /* pretendard/xl-20px-semibold */
/*
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160%  */
/*
  border-color: transparent;
  outline: none;
} */

.simple-login-box {
  display: flex;
  width: 640px;
  height: 74px;
  gap: 10px;
  margin: 24px 0;
  border-radius: 8px;
  background: #e6f2ff;
}

.simple-login {
  display: flex;
  padding: 16px 23px;
  width: 594px;
  justify-content: space-between;
  align-items: center;
}

.simple-login-box p {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/lg-16px-medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.simple-ic {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
