body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
}

header {
  width: 100%;
  top: 0;
  position: sticky;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
}

nav {
  display: flex;
  box-sizing: border-box;
  padding: 0 200px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-width: 100%;
}

@media (min-width: 1920px) {
  nav {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.login > button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--Primary-100);
  border: none;
  color: var(--Cool-Gray-100);
}

.txt_01 {
  letter-spacing: 0.8px;
  color: var(--Secondary-700);
  font-weight: 700;
  line-height: 140%;
  font-size: 2.5rem;
}

#hero {
  background-color: #cfe5ff;
  display: flex;
  height: 540px;
  box-sizing: border-box;
  justify-content: center;
  align-items: end;
}

#hero > div {
  height: 340px;
  display: flex;
  align-items: center;
  gap: 7px;
}

#hero > div > img,
#bottom img {
  min-width: 746px;
}

#hero > div > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 60px;
}

section > div > img {
  min-width: 588px;
}

.going {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9fafb;
  border-radius: 40px;
  background-color: var(--Primary-100);
  width: 357px;
  height: 56px;
}

.txt_02 {
  color: var(--Secondary-700);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 32px;
}

.name {
  color: var(--Primary-100);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 26px;
}

.main_txtbox {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main_txtbox > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#item {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 188px 344px;
}

#item .hot_item,
#register .register_sec,
#search .search_sec {
  width: 988px;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

#search {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 138px 342px;
}

#search .name {
  width: 100%;
}

#search .search_sec {
  text-align: right;
}

#register {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 138px 360px;
}

#bottom {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#bottom > div {
  height: 397px;
  gap: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom > div > p {
  padding-bottom: 64px;
}

footer {
  box-sizing: border-box;
  background-color: var(--Secondary-900);
  height: 160px;
  width: 100%;
}

.footer_in {
  max-width: 100%;
  padding: 32px 200px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer_in > div > ul {
  display: flex;
}

.since {
  color: var(--Secondary-400);
}

.helpcenter {
  text-decoration: none;
  color: var(--Secondary-200);
  gap: 30px;
}

.sns {
  gap: 12px;
}

@media (min-width: 1920px) {
  .footer_in {
    max-width: 1920px;
    margin: 0 auto;
  }
}
