/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "ROKAFSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/woffz/a1@main/Airforce/ROKAFSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: Medium;
}

:root {
  --primary100: #3692ff;
  --primary200: #1967d6;
  --primary300: #1251aa;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --error: #f74747;
}
main {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

main#index section:not(:first-child):not(:last-child) {
  margin: auto;
}
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 4.375rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #dfdfdf;
  box-shadow: 0.0625rem 0.0625rem 0.625rem;
  background-color: #fff;
}

#GNB {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5625rem 12.5rem;
}

@media (min-width: 120rem) {
  #GNB {
    max-width: 120rem;
    margin: 0 auto;
  }
}

#logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary100);
  gap: 0.3125rem;
}

#logo::before {
  content: url("./img/판다 얼굴.png");
  width: 2.5rem;
  height: 2.5rem;
}

.login_button {
  background-color: var(--primary100);
  border-radius: 0.5rem;
  border: none;
  color: var(--gray100);
  width: 8rem;
  height: 3rem;
}

section {
  background-color: #fcfcfc;
}
section > .landing {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.landing {
  background-color: #cfe5ff;
  height: 33.75rem;
}

.landing > img {
  width: 100%;
  height: 33.75rem;
}

.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.75rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.comment {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

#detail_button {
  background-color: var(--primary100);
  color: #fff;
  border-radius: 2.5rem;
  padding: 1rem 7.75rem;
  font-size: 1rem;
  border: none;
}

.badge {
  font-size: 1.125rem;
  color: var(--primary100);
  font-weight: 700;
  line-height: 1.5;
}

.text-r {
  text-align: right;
}
footer {
  background: var(--gray900);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--gray400);
  padding: 2rem 12.5rem;
}

footer a {
  text-decoration: none;
  color: var(--gray200);
}
footer ul {
  display: flex;
  justify-content: space-between;
}

.gap-30 {
  gap: 1.875rem;
}

.gap-15 {
  gap: 0.9375rem;
}

button {
  cursor: pointer;
}
div[onclick] {
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: var(--primary100);
  font-weight: 700;
}

.login-box {
  width: 100%;
  max-width: 40rem;
}

.login-box img {
  width: 3.75rem;
  height: 3.75rem;
}

.font-ROKAF {
  font-family: "ROKAFSansMedium";
}

.form-area form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-area label {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-weight: 700;
}

.form-area input {
  width: 100%;
  padding: 1rem 1.5625rem;
  border-radius: 0.5rem;
  background-color: var(--gray100);
  border: none;
  box-sizing: border-box;
}

div.input-area {
  width: 100%;
  position: relative;
}

.input-area img {
  position: absolute;
  right: 5%;
  top: 50%;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  transform: translate(0, -50%);
}

.input-area img:hover {
  filter: brightness(0.5);
}

.form-area input:focus {
  outline: 0.0625rem solid var(--primary100);
}

#submit-button {
  width: 100%;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--primary100);
  color: #fff;
  padding: 1rem 7.75rem;
}

#submit-button:hover {
  background-color: var(--gray400);
}

.sns-login-area {
  margin-top: 1.25rem;
  padding: 1rem 1.4375rem;
  background: #e6f2ff;
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns-login-ul ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
}

.sns-login-ul ul li:nth-child(2) {
  position: relative;
}

.sns-login-ul ul li:nth-child(2) img:nth-child(2) {
  position: absolute;
  left: 0.3125rem;
  top: 0.3125rem;
  width: 1.25rem;
  height: 1.25rem;
}

.sns-login-ul img {
  width: 1.875rem;
  height: 1.875rem;
}

.login-box-footer {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 0.3125rem;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.form-area input.input-error {
  border: 1px solid red;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  min-width: 200px;
  max-width: 90%;
}

p#modalMessage {
  margin: 20px;
}

#modalClose {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  color: #000;
}
