/* pallate colors */

:root {
  --Primary-100: #3692ff;
  --Primary-200: #1967d6;
  --Primary-300: #1251aa;

  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374151;
  --Secondary-600: #4b5563;
  --Secondary-500: #6b7280;
  --Secondary-400: #9ca3af;
  --Secondary-200: #e5e7eb;
  --Secondary-100: #f3f4f6;
  --Secondary-50: #f9fafb;

  --Cool-Gray-200: #e5e7eb;
  --Cool-Gray-400: #9ca3af;

  --error-red: #f74747;
}

/* text align 같은 중복 설정 따로 빼놓기 */

.al-left {
  text-align: left;
}

.al-right {
  text-align: right;
}

.al-center {
  text-align: center;
}

img {
  vertical-align: middle;
}

/* btns */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Primary-100);
  color: var(--Secondary-100);
  cursor: pointer;
  font-size: 20px;
  height: 48px;
}

.btn:hover {
  background-color: var(--Primary-200);
}

.btn:active {
  background-color: var(--Primary-300);
}

.btn:disabled {
  background-color: var(--Secondary-400);
}

.btn.error {
  background-color: var(--error-red);
}

.btn.deactive {
  background-color: var(--Secondary-400);
  cursor: not-allowed;
}

.btn-small {
  width: 120px;
  border-radius: 8px;
  font-size: 16px;
}

.btn-large {
  width: 350px;
  border-radius: 40px;
}

.btn-login {
  width: 100%;
  border-radius: 40px;
  height: 56px;
}

.btn-cta {
  width: 100%;
  height: 56px;
}

.h42 {
  height: 42px;
}

.select-small {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid var(--Cool-Gray-200, #e5e7eb);
}

.select-small > option {
  border-radius: 10px;
}
