/* main */

body {
  width: 100%;
  background-color: #fcfcfc;
  color: var(--Secondary-700);
  vertical-align: middle;
}

/* header */

.m-header {
  position: sticky;
  top: 0;
  z-index: 9999;
  align-content: center;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
}

.m-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 200px;
}

@media (min-width: 1920px) {
  .m-header-container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

/* contents */

.contents {
  min-height: 100rem;
}

.hero-wrap {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;
}

.hero-wrap.bottom {
  margin-top: 135px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-info-box {
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 32px;
  width: 350px;
  height: 260px;
}

.hero-info-box > h1 {
  line-height: 140%;
}

.info-box-wrap {
  width: 100%;
  height: 720px;
  background-color: #fff;
  align-content: center;
}

.info-box.reverse {
  flex-direction: row-reverse;
}

.info-box {
  width: 100%;
  max-width: 1030px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fcfcfc;
  margin: 0 auto;
  gap: 64px;
}

.info-contents > p {
  line-height: 140%;
}

.info-title {
  font-size: 40px;
  font-weight: 700;
}

.info-s-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--Primary-100);
}

.info-text {
  font-size: 24px;
  font-weight: 500;
  color: var(--Secondary-700);
}

/* footer */

.m-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.m-footer li {
  display: inline-block;
}

.ft-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 30px 200px;
  width: 100%;
  height: 160px;
  background-color: var(--Secondary-900);
  color: #fff;
  box-sizing: border-box;
}

.ft-wrap > p {
  color: var(--Secondary-400);
}

#ft-cs-link ul {
  display: flex;
  gap: 30px;
}

#ft-out-link ul {
  display: flex;
  gap: 12px;
}

#ft-cs-link > ul > li > a {
  color: var(--Secondary-200);
}

/* table & mobile 공통 */
@media (max-width: 1199px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-info-box {
    height: 100%;
    padding: 84px 0;
    width: 100%;
    align-items: center;
  }

  .hero-info-box .info-title {
    text-align: center;
  }

  .hero-wrap {
    height: 100%;
  }

  .info-box-wrap {
    height: 100%;
  }

  .info-box {
    background-color: transparent;
    height: 100%;
  }

  .info-box.reverse {
    flex-direction: column;
  }

  .hero-wrap.bottom {
    margin: 0;
  }

  .media-hide {
    display: none;
  }
}

@media (min-width: 744px) and (max-width: 1199px) {
  .m-header-container {
    padding: 0 24px;
  }
  .ft-wrap {
    padding: 30px 24px;
  }

  .info-box {
    padding: 24px;
    flex-direction: column;
  }

  .info-title {
    padding: 16px 0 24px 0;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .m-header-container img {
    content: url("/assets/imgs/logo/logo_typo.png");
  }

  .info-box {
    padding: 16px;
    flex-direction: column;
    gap: 24px;
  }

  .info-title {
    font-size: 32px;
  }

  .info-text {
    font-size: 16px;
    font-weight: 500;
  }

  .info-s-title {
    font-size: 16px;
    font-weight: 700;
  }

  .m-header-container {
    padding: 0 16px;
  }

  .ft-wrap {
    padding: 16px;
  }

  .ft-wrap > p {
    display: block;
  }

  .hero-container > img,
  .info-box > img {
    width: 100%;
  }

  .info-title {
    padding: 8px 0 16px 0;
  }

  .info-contents {
    width: 100%;
  }
}
