.ProductList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile {
  display: none;
}

.title {
  color: #111827;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  white-space: nowrap;
}
.skillWrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.btn {
  display: flex;
  height: 42px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: #3692ff;
  border: none;

  color: #f3f4f6;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  width: 100%;
}

@media (max-width: 1200px) {
  .listGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 744px) {
  .minTablet {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }
  .row1 {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
  }

  .row2 {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
  }

  .listGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
