.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  padding-top: 1.63rem;
  width: 100%;
  max-width: 75rem;
  min-height: calc(100vh - 4.375rem - 10rem);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 43.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 743px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
