.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  padding: 9px 200px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navWrap {
  display: inline-flex;
  gap: 24px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logoPanda {
  display: block;
  width: 40px;
}

.logoName {
  font-weight: 700;
  font-size: 25.63px;
  line-height: 1;
  color: #3692ff;
  font-family: "ROKAF Sans";

  margin-top: 1px;
}

.navLink {
  display: flex;
  padding: 21px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn {
  background-color: #3692ff;
  color: white;
  border: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;

  border-radius: 8px;
  width: 128px;
  height: 48px;
  font-size: 16px;
}
