:root {
  --bg-hero: #cfe5ff;
  --bg-feature: #fcfcfc;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--secondary-700);
  word-break: keep-all;
}

/* --- Hero Section --- */
.hero {
  height: 33.75rem;
  background-color: var(--bg-hero);
}

.heroWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.heroInner {
  display: flex;
  align-items: center;
}

.heroInner.bottom {
  gap: 4.3125rem;
}

.heroContent {
  width: 22.3125rem;
  margin-bottom: 3.75rem;
}

.ctaBtn {
  height: 3.5rem;
  margin-top: 2rem;
  padding: 1rem 7.75rem;
  border-radius: 2.5rem;
}

@media (max-width: 1199px) {
  .hero {
    height: 48.1875rem;
  }

  .hero.bottom {
    height: 57.9375rem;
  }

  .heroWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .heroInner {
    flex-direction: column;
  }

  .heroInner.top {
    gap: 13.19rem;
  }

  .heroInner.bottom {
    gap: 13.56rem;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32rem;
    margin-bottom: 0;
  }

  .title {
    text-align: center;
  }

  .ctaBtn {
    height: 3.5rem;
    padding: 1rem 7.75rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 743px) {
  .hero {
    height: auto;
    min-height: 33.75rem;
    overflow: hidden;
  }

  .hero.bottom {
    height: auto;
    min-height: 33.75rem;
    overflow: hidden;
  }

  .heroWrapper {
    overflow: hidden;
  }

  .heroInner.top {
    gap: 8.25rem;
    padding-top: 3rem;
  }

  .heroInner.bottom {
    gap: 8.19rem;
    padding-top: 7.56rem;
  }

  .heroContent {
    width: 15rem;
  }

  .title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .ctaBtn {
    width: 100%;
    height: 3rem;
    padding: 0.75rem 4.4375rem;
    margin-top: 1.12rem;
  }

  .img {
    min-width: 28rem;
  }
}
