:root {
  /* =========================
     root color 
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --Primary-100: #3692ff;
  --brand-blue: #3692ff;

  /* =========================
     Secondary 
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --Secondary-900: #111827;
  --Secondary-700: #374151;
  --Secondary-200: #e5e7eb;
  --Secondary-50: #f9fafb;

  /* =========================
     Cool Gray 
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --Cool-Gray-100: #f3f4f6;

  /* =========================
     Background 
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --bg-white: #ffffff;
  --bg-light-blue: #cfe5ff;

  /* =========================
     Border 
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --border-light: #dfdfdf;
}

.container {
  width: 100%;
  max-width: 192rem; /* 피그마 기준에 맞춰 조절 */
  margin: 0 auto;
  padding: 0 20rem;
}

h2 {
  color: var(--Secondary-700);
  font-family: Pretendard;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
}

/*======================================
nav
=======================================*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bg {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 7rem;
  align-items: center;
  background: var(--bg-white);
  border-bottom: 1px solid var(--border-light);
}

.cta-btn {
  display: flex;
  width: 12.8rem;
  height: 4.8rem;
  padding: 1.2rem 2.3rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  background: var(--Primary-100);
  color: var(--Cool-Gray-100);
}

/*======================================
hero
=======================================*/
.hero {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 54rem;
  gap: 0.7rem;
}

/*2026.03.03 add : 반응형 추가*/
.hero-bg {
  width: 100%;
  background: var(--bg-light-blue);
}

.hero-inner {
  display: flex;
  padding-bottom: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 34rem;
  gap: 3.2rem;
}

.hero-img {
  align-self: end;
  /*2026.03.03 add : 이미지 줄어들지 않게 수정함*/
  flex-shrink: 0;
  max-width: none;
}

.hero-btn {
  display: flex;
  height: 5.6rem;
  padding: 1.6rem 12.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 4rem;
  background: var(--brand-blue);
  text-align: center;

  /*font*/
  color: var(--Secondary-50);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

/*======================================
Section 
=======================================*/
.section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 13.8rem 0rem;
  align-items: center;
  gap: 6.4rem;
}

.section-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.section-top-text {
  color: var(--Primary-100);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
}

.section-end-text {
  color: var(--Secondary-700);
  font-family: Pretendard;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
}

.section2 {
  text-align: right;
}
/*======================================
Bottom
=======================================*/
.bottom {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 54rem;
  gap: 0.7rem;
}

/*2026.03.03 add : 반응형 추가*/
.bottom-bg {
  width: 100%;
  background: var(--bg-light-blue);
}

.bottom-text {
  align-self: center;
}

.bottom-inner {
  display: flex;
  justify-content: center;
}

.bottom-img {
  /*2026.03.03 add : 이미지 줄어들지 않게 수정함*/
  flex-shrink: 1;
  max-width: none;
}
/*======================================
Footer
=======================================*/
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16rem;
  padding: 3.2rem 0rem;
  gap: 1rem;
  background: var(--Secondary-900);
}
.footer-bg {
  width: 100%;
  background: var(--Secondary-900);
}
.footer-icon {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
}

.footer-icon a {
  display: inline-flex;
}

.footer-icon img {
  width: 20px;
  height: 20px;
  display: block;
}

.footer-text {
  color: var(--Secondary-200);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-text-middle {
  display: flex;
  gap: 3rem;
}

/* =========================
수정사항 
2026.03.03 fix : 피드백 반영 텍스트 px -> rem으로 변경
2026.03.03 add : 기본 요구사항 1920px 관련 수정함
2026.03.03 fix : root에 색상 설정함
  ========================== */
