:root {
  /* =========================
     Primary
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --Primary-100: #3692ff;
  --brand-blue: #3692ff;

  /* =========================
     Secondary (
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374151;
  --Secondary-400: #9ca3af;
  --Secondary-200: #e5e7eb;
  --Secondary-50: #f9fafb;

  /* =========================
     Cool Gray
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --Cool-Gray-100: #f3f4f6;

  /* =========================
     Background
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --bg-white: #ffffff;
  --bg-light-blue: #cfe5ff;
  --bg-soft-blue: #e6f2ff;

  /* =========================
     Border
     (2026.03.03 add: 피드백 반영)
  ========================== */
  --border-light: #dfdfdf;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 0;
  margin: 0;
  height: 100vh; /* 화면 전체 높이 */
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.section {
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.pw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.nickname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.text-box {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 0 3rem 0 1rem;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: none;
  background: var(--Cool-Gray-100);
  outline: none;
  min-width: 0;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
}

.text-box:focus {
  border: 1px solid var(--brand-blue);
}

.signup-btn {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Secondary-400);
  color: #f3f4f6;
}

.signup-btn:hover {
  border-radius: 40px;
  background: var(--Primary-100);
}
.sample-signup-box {
  display: flex;
  width: 640px;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--bg-soft-blue);
  padding: 23px;
}

.signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.signup-text {
  color: var(--Primary-100);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.social-img {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.sample-signup-text {
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.signup-footer-text {
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
