.pagination {
  display: flex;
  gap: 0.25rem;
  align-self: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--secondary-200);
  background-color: var(--white);
}

.navButton {
  color: var(--secondary-800);
}

.navButton:disabled {
  color: var(--secondary-400);
  cursor: not-allowed;
}

.pageList {
  display: flex;
  gap: 0.25rem;
}

.pageNumber {
  color: var(--secondary-500);
}

.current {
  color: var(--white);
  background-color: #2f80ed;
}
